body {
    background-color: beige;
}

h1,
h2,
h4,
ul {
    text-align: center;
    list-style: none;
}

.game-board {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}

.card {
    border: 1px solid black;
}

.bengalImage {
    background-image: url(images/bengal.png);
    background-size: cover;
}

.bombayImage {
    background-image: url(images/bombay.png);
    background-size: cover;
}

.burmeseImage {
    background-image: url(images/burmese.png);
    background-size: cover;
}

.cyprusImage {
    background-image: url(images/cyprus.png);
    background-size: cover;
}

.rexImage {
    background-image: url(images/rex.png);
    background-size: cover;
}

.siameseImage {
    background-image: url(images/siamese.png);
    background-size: cover;
}

.burmese2 {
    background-image: url(images/burmese.png);
    background-size: cover;
}

.bombay2 {
    background-image: url(images/bombay.png);
    background-size: cover;
}

.cyprus2 {
    background-image: url(images/cyprus.png);
    background-size: cover;
}

.bengal2 {
    background-image: url(images/bengal.png);
    background-size: cover;
}

.rex2 {
    background-image: url(images/rex.png);
    background-size: cover;
}

.siamese2 {
    background-image: url(images/siamese.png);
    background-size: cover;
}

.card-back {
    background-image: url(images/paw.png);
    background-size: cover;
}

.card-front {
    background-color: aquamarine;
}