body {
    background-color: #E5FAEF;
    text-align: center;
}

h1,
h2,
h4,
ul {
    text-align: center;
    list-style: none;
}

.game-board {
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}

.hide {
    display: none;
}

.card {
    border: 10px solid black;

}

.bengal {
    background-image: url(images/bengal.png);
    background-size: cover;
}

.bombay {
    background-image: url(images/bombay.png);
    background-size: cover;
}

.burmese {
    background-image: url(images/burmese.png);
    background-size: cover;
}

.cyprus {
    background-image: url(images/cyprus.png);
    background-size: cover;
}

.rex {
    background-image: url(images/rex.png);
    background-size: cover;
}

.siamese {
    background-image: url(images/siamese.png);
    background-size: cover;
}

.card-back {
    background-image: url(images/paw.png);
    background-size: cover;
}