body {
    background-color: beige;
}
    h1, h2, h4, ul {
    text-align: center;
    list-style: none;
}

.game-board {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}

.card {
    border: 1px solid black;
}